.nav-container{
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   top: 0;
   bottom: 100%;
   left: 0;
   transform: translate(0%,0%);
   z-index: 99999;
   background: white;
}
.nav-wrapper{
    width: 90%;
    height: 100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon{
    width: 25px;
    color: black;
}
.nav-wrapper ul{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.profile-btns{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.nav-mobile{
    width: 95%;
    height: 70px;
    border-radius: 20px;
    background: rgb(255,255,255);
    backdrop-filter: blur(35px);
    display: none;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 99999;
    /* padding: 0 1.5rem; */
}
.nav-mobile .add-icon{
    width: 60px;
    height: 60px;
    background: #80ff00;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* =========== search bar ========  */
.search-bar-container,.search-bar-container2{
    display: none;
    gap: 1rem;
    align-items: center;
}
.search-btn{
    width: 45px;
    height: 45px;
    background: #80ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.search-icon{
    width: 20px;
}
.back-icon-nav,.back-icon-nav2{
    width: 45px;
    color: grey;
    display: block;
}
.search-bar-nav,.search-bar-nav2{
    width: 0px;
    height: 45px;
    background-color: rgb(235, 235, 235);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 0 1rem;
    font-size: 18px;
    display: block;
}
.search-bar-nav:hover{
    border: 1px solid black;
}
.dropShadow{
    box-shadow: 5px 5px 18px rgba(0,0,0,.18);
}
@media screen and (max-width:765px) {
    .nav-container{
      display: none;
    }
    .nav-mobile{
        display: flex;
    }
    .nav-mobile .add-icon{
        position: relative;
    }
    .nav-icon{
        width: 30px;
    }
    .search-bar-container2{
        gap: .5rem;
    }
    .search-btn{
        width: 50px;
        height: 50px;
    }
}
