.post-detail-container{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.7);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999900;
}
.post-detail-wrapper{
    width: 35%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: .5rem 0;
    position: relative;
    overflow: scroll;
}
.post-detail-wrapper .main-img{
    width: 70%;
    border-radius: 2rem;
}
.details-btns{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2rem;
}
.detail-btn{
    min-width: 50px;
    height: 50px;
    border-radius: 10px;
    background: rgba(175, 175, 175,.25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-btn:hover{
    background: rgba(175, 175, 175,.6);
    transition: .3s all;
}
.delete-btn{
    min-width: 55px;
    height: 55px;
    border-radius: 50%;
    /* background: rgba(175, 175, 175,.3); */
    display: flex;
    align-items: center;
    justify-content: center;
}
.comments-container{
    margin-top: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: transparent;
}
.comment-box{
    min-width: 90%;
    height: fit-content;
    background: rgba(175, 175, 175,.5);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    padding: .4rem;
    display: flex;
    /* align-items: center; */
    gap: .8rem;
}
.comment-profile{
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
}
.comment-profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.comment-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.comment-detail h4{
    font-size: 18px;
    color: #80ff00;
}
.comment-detail p{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 100%;
}
.comment-delete{
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-detail-profile{
    width: 50px;
    height: 50px;
    background: grey;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    left: 0%;
    overflow: hidden;
}
.post-detail-profile img{
    width: 100%;
    height: 100%;
}   
.comment-input-box{
    width: 0%;
    height: 50px;
    border: 2px solid white;
    display: none;
    border-radius: 2rem;
    overflow: hidden;
    align-items: center;
    padding:.1rem;
}
.comment-input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 0 .8rem;
    font-size: 18px;
}
.comment-input-box button{
    min-width: 45px;
    height: 100%;
    background: #80ff00;
    border-radius: 50%;
    border: none;
}
@media screen and (max-width:765px) {
 .post-detail-wrapper{
    width: 100%;
 }   
 .post-detail-wrapper .main-img{
    width: 90%;
 }
 .details-btns{
    width: 95%;
 }
 .comments-container{
    width: 95%;
 }
 .comment-box{
    width: 100%;
 }
}