.userList-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
}
.search-user-box{
    width: 80%;
    border-radius: 2rem;
    display: flex;
    min-height: 65px;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .4rem;
    background: #29292915;
    backdrop-filter: blur(10px);
    text-decoration: none;
    color: #292929;
}
.search-profile-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-profile-box img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.search-detail-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-detail-box h5{
    font-size: 22px;
}
.post-count{
    min-width: 50px;
    height: 50px;
    background: #80ff00;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width:765px) {
    .search-user-box{
        width: 100%;
    }
}

/* ======= user expend css ========  */

.user-expand-container{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#F3F7FB50 30%, #FFF6F350 70%);
    backdrop-filter: blur(2px);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-expand-card{
    width: 370px;
    height: 450px;
    background: rgba(0,0,0,.4);
    backdrop-filter: blur(2px);
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
.user-expand-img{
    width: 100%;
    height: 100%;
    background: red;
    overflow: hidden;
    border-radius: 1.2rem;
}
.user-expand-card button{
    width: 100%;
    height: 60px;
    border-radius: 2rem;
    background: #80ff00;
    font-size: 18px;
    font-weight: 600;
}
.user-expand-card h2{
    font-size: 22px;
    color: white;
    font-weight: 400;
}