.my-post-container{
    width: 38%;
    margin: 1rem auto;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.post-small{
    max-width: 140px;
    width: 140px;
    height: 140px;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s all;
}
.post-small:hover{
    opacity: .7;
}
.post-small-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-small-img img{
    height: 100%;
    width: 100%;
}


/* ========= post extend ========  */
.post-extend-container{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.extend-post{
    width: 30%;
    height: fit-content;
    padding: 1rem;
    border-radius: 2rem;
    background: rgba(73, 73, 73, 0.6);
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    gap: .4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%,-50%);
}
.extend-post-header{
    padding: 0rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extend-post-profile{
    display: flex;
    align-content: center;
    gap: .8rem;
}
.extend-post-img-profile{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #80ff00;
    padding: .2rem;
}
.extend-post-header h2{
    font-size: 22px;
    color: white;
    font-family: 'Montserrat',sans-serif;
}
.extend-post-img{
    width: 100%;
    border-radius: 1rem;
}
.extend-post-details{
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.extend-post-details h3{
    font-size: 18px;
    font-weight: 400;
    color: rgb(224, 224, 224);
}
.extend-post-details p{
    font-size: 14px;
    color: rgb(202, 202, 202);
}
.close-container{
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.extend-post-menu-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.extend-post-menu{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: fit-content;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    border: 1px solid grey;
    position: absolute;
    top: 100%;
    right: 60%;
    border-radius: 1rem;
    padding: .2rem;
}
.menu-btn{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 .8rem;
    color: white;
}
@media screen and (max-width:765px) {
    .my-post-container{
        width: 100%;
    }
    .extend-post{
        width: 95%;
    }
}