.recent-search-container{
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.search-text {
    width: 100%;
    height: 50px;
    /* border: 1px solid red; */
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 0 .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-text h5 {
    font-size: 18px;
    font-weight: 600;
}