.auth-container {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.auth-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10.5fr 1.5fr;
}

.auth-box h1{
    font-size: 3rem;
    font-weight: 600;
    font-family: "Radio Canada Big", sans-serif;
}
.auth-box h1 span{
    font-size: 3rem;
    font-weight: 600;
    font-family: "Radio Canada Big", sans-serif;
    color: red;
}

.auth-box {
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    width: 96%;
    background-color: #eae3d1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.auth-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.auth-btn-container button {
    text-decoration: none;
    padding: 1rem 3rem;
    font-size: 18px;
    font-weight: 600;
    /* background-color: #80ff00; */
    border: none;
    border-radius: 10px;

}
.auth-box .auth-img{
    width: auto;
    height: auto;
    border: 1px solid red;
    background: url("../../../public/image/doodle-one.png");
}
.auth-img {
    width: 400px;
    height: 500px;
    /* border: 1px solid red; */
    background: url("../../../public/image/doodle-two.png");
    background-position: center;
    background-size: cover;
    animation: 3s changeImg linear infinite;
}

@keyframes changeImg {
    0%{
        background: url("../../../public/image/doodle-two.png");
        background-position: center;
        background-size: cover;
    }
    35%{
        background: url("../../../public/image/doodle-two.png");
        background-position: center;
        background-size: cover;
    }
    40%{
        background: url("../../../public/image/doodle-three.png");
        background-position: center;
        background-size: cover;
    }
    70%{
        background: url("../../../public/image/doodle-three.png");
        background-position: center;
        background-size: cover;
    }
    75%{
        background: url("../../../public/image/doodle-one.jpg");
        background-position: center;
        background-size: cover;
    }
    95%{
        background: url("../../../public/image/doodle-one.jpg");
        background-position: center;
        background-size: cover;
    }
}

.auth-btn-container .first-btn {
    background-color: #80ff00;
}

@media screen and (max-width:765px) {
    .auth-box {
        width: 93%;
    }

    .auth-container {
        height: calc(100vh - 4rem);
    }

    .auth-wrapper {
        height: calc(100vh - 4rem);
    }
}

 

.auth-container {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.auth-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10.5fr 1.5fr;
}

.auth-box {
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    width: 96%;
    background-color: #eae3d1;
}

.auth-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* border: 1px solid red; */
}

.auth-btn-container button {
    text-decoration: none;
    padding: 1rem 3rem;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.auth-btn-container .first-btn:hover {
    background-color: #69cb07;
}


.second-btn:hover::after {
    bottom: 0;
    border-radius: 0;
}

.auth-btn-container .first-btn {
    background-color: #80ff00;
}

/* login form css */
.form-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: 2;
    display: grid;
    grid-template-rows: 10.5fr 1.5fr;
}

.form-box {
    height: 0%;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    width: 96%;
    background-color: #eae3d1;
    border-radius: 0 0 15px 15px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
    overflow:  hidden;

}

.form-box h1 {
    color: #8d7946;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: sans-serif;
}

.form-box form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

form > input{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #eae3d1;
    padding: 0 1rem;
    font-size: 18px;
    font-weight: 600;
    transition: .3s all;
}
form > input:hover{
    border: 2px solid #8d7946 ;
}
.form-btn {
    display: flex;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

.form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.form-submit button {
    font-weight: 600;
    font-size: 20px;
    font-weight: 800;
    padding: .9rem 3rem;
    border: none;
    border-radius: 10px;
    transition: .3s all;
}

.one-btn {
    background-color: rgb(255, 184, 0);
}
.one-btn:hover{
    background-color: rgb(255, 219, 120);
}
.close-btn {
    margin-top: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:765px) {
    .auth-box {
        width: 93%;
    }

    .auth-container {
        height: calc(100vh - 4rem);
    }

    .auth-wrapper {
        height: calc(100vh - 4rem);
    }

    .auth-btn-container {
        padding: 0 1rem;
    }

    .auth-btn-container button {
        font-size: 18px;
        padding: .8rem 2rem;
    }

    .auth-btn-container h3 {
        font-size: 18px;
    }
    .auth-img{
        width: 100%;
    }
    .auth-img img{
        width: 80%;
        height: auto;
    }
    .form-container {
        height: calc(100vh - 4rem);
    }
    form > input {
        width: 90%;
    }
    .form-box h1{
        font-size: 32px;
    }
}