.delete-pop-container{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-pop-card{
    width: 350px;
    border-radius: 1.2rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5avrem;
    overflow: hidden;
}
.delete-pop-card h2{
    font-size: 18px;
    color: grey;
    font-family: 'Montserrat',sans-serif;
}
.card-btns{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid grey;
}
.card-btns button{
    width: 100%;
    background: transparent;
    border: none;
    height: 40px;
    font-size: 18px;
    border-left: 1px solid grey;
}